<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Optional SAP authentication bridge. Leave empty to use native auth. -->
	<key>ASSPP_WEB_BASE_URL</key>
	<string>$(ASSPP_WEB_BASE_URL)</string>
	<key>ASSPP_WEB_ACCESS_TOKEN</key>
	<string>$(ASSPP_WEB_ACCESS_TOKEN)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>picture-in-picture</string>
	</array>
</dict>
</plist>
